<footer>
        <hr />

        {% if page.exurl != null %}
        <p>Links</p>
        <ul>
                {% for link in page.exurl %}
                <li>
                        <a href="{{ link | relative_url}}"> {{ link }}</a>
                </li>
                {% endfor %}
        </ul>
        {% endif %}

        <p>socials</p>
        <ul>
                {% for link in site.data.socials %}
                <li>
                        <a href="{{ link.url | relative_url}}">
                                {{ link.url }}</a
                        >
                </li>
                {% endfor %}
        </ul>
        <p>contact</p>
        <ul>
                <li>
                        <a href="mailto:rawxtl@outlook.com">
                                rawxtl@outlook.com
                        </a>
                </li>
        </ul>
</footer>
