@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

:root {
        --sans-serif: "Inter", sans-serif, clean;
        --mono-space: "Google Sans Code", monospace, clean;

        --background-clr: #ffffff;
        --foreground-clr: rgba(0, 0, 0, 0.96);

        --hyperlink-clr: rgba(0, 0, 255, 0.86);
        --dim-clr: rgba(0, 0, 0, 0.38);
        box-sizing: border-box;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: geometricPrecision;
}

body {
        margin: 24vh 0 20vh 0;
        padding: 0;

        background-color: var(--background-clr);
}

nav,
main,
header,
footer {
        max-width: 76ch;
        margin-left: 14px;
        margin-right: 14px;

        font-family: var(--sans-serif);
        font-size: 14px;
        font-weight: 540;
        text-align: justify;
        line-height: 20px;

        color: var(--foreground-clr);
}

@media (width <= 70ch) {
        nav,
        main,
        header,
        footer {
                text-align: left;
        }
}

li {
        color: var(--foreground-clr);
}

p {
        margin-bottom: 1.5em;
}

h5 {
        font-size: 14px;
}

code {
        font-family: var(--mono-space);
}

a {
        text-decoration: none;
        color: var(--hyperlink-clr);
}

a:hover {
        color: var(--foreground-clr);
        text-decoration: underline;
}

img {
        min-width: 50vw;
        max-width: 50vw;
}

@media (width <= 800px) {
        img {
                max-width: none;
                min-width: none;
                width: 100%;
        }
}

hr {
        border: none;
        height: 1px;
        background-color: var(--dim-clr);
}

blockquote {
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 2px solid;
        border-color: darkgray;

        margin: 0;
        padding-left: 1em;
}

.gap {
        padding-right: 14px;
}

.highlight {
        background-color: #eeeeee;
        padding: 0.2em;
        margin: 0.2em;
}

.dim {
        color: var(--dim-clr);
}

.foregroundclr {
        color: var(--foreground-clr);
}

.hyperlinkclr {
        color: var(--hyperlink-clr);
}
