@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

:root {
        --sans-serif: "Inter", sans-serif, clean;
        --mono-space: "Google Sans Code", monospace, clean;

        --background-clr: black;
        --foreground-clr: white;

        --hyperlink-clr: #888;
        --dim-clr: #888;
        box-sizing: content-box;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: geometricPrecision;
}

body {
        margin: 24vh 0 20vh 0;
        padding: 0;

        background-color: var(--background-clr);
}

header,
main,
nav,
footer {
        max-width: 80ch;
        margin: 14px;

        font-family: var(--sans-serif);
        font-size: 14px;
        font-weight: 540;
        text-align: justify;
        line-height: 20px;

        color: var(--foreground-clr);
}

li {
        color: var(--foreground-clr);
}

code {
        font-family: var(--mono-space);
}

a {
        text-decoration: none;
        color: var(--hyperlink-clr);
}

a:hover {
        color: var(--foreground-clr);
        text-decoration: underline;
}

img {
        min-width: 50vw;
        max-width: 80vw;
}

hr {
        border: none;
        height: 1px;
        background-color: var(--dim-clr);
}

input {
        border: solid;
        border-width: 1px;
        border-radius: 0.2em;
        border-color: lightgray;

        padding: 2px;

        font-family: var(--sans-serif);
        font-size: 1em;
}

input:focus {
        outline: none;
        border-color: grey;
}

button {
        font-family: var(--sans-serif);
        font-weight: 500;
        font-size: 1em;

        border: solid;
        border-width: 1px;
        border-radius: 0.2em;
}

blockquote {
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 2px solid;
        border-color: darkgray;

        margin: 0;
        padding-left: 1em;
}

.gap {
        padding-right: 14px;
}

.highlight {
        background-color: #eeeeee;
        padding: 0.2em;
        margin: 0.2em;
}

.dim {
        color: var(--dim-clr);
}

.foregroundclr {
        color: var(--foreground-clr);
}

.hyperlinkclr {
        color: var(--hyperlink-clr);
}

.bright {
        color: darkred;
}
