<!doctype html>
<html lang="en">
        <head>
                <meta charset="UTF-8" />
                <meta
                        name="viewport"
                        content="width=device-width, height=device-height, initial-scale=1.0"
                />
                <title>{{page.title}}</title>
                <link
                        rel="shortcut icon"
                        type="image/ico"
                        href="/assets/img/favicon.ico"
                />
                <link
                        rel="stylesheet"
                        href="/assets/css/global.css"
                        type="text/css"
                />
        </head>
        <body>
                <header>
                        <div class="blog-title-container">
                                <h2>{{ page.title}}</h2>
                        </div>
                        <p>tl;dr -- <span class="dim">{{ page.tldr }}</span></p>

                        {% assign date = page.date | date: "%d-%b-%Y" %}
                        <p class="dim">
                                <span class="gap"> date: {{ date }} </span>
                                <span class="gap">
                                        by: {{ page.credits }}
                                </span>
                        </p>
                        <hr />
                </header>
                <main>{{content}}</main>
                {% include nav.html %} {% include footer.html %}
        </body>
</html>
