<!doctype html>
<html lang="en">
        <head>
                <meta charset="UTF-8" />
                <meta
                        name="viewport"
                        content="width=device-width, height=device-height, initial-scale=1.0"
                />
                <title>{{page.title}}</title>
                <link
                        rel="shortcut icon"
                        type="image/ico"
                        href="/assets/img/favicon.ico"
                />
                <link
                        rel="stylesheet"
                        href="/assets/css/global.css"
                        type="text/css"
                />
        </head>
        <body>
                <main>{{content}}</main>
                {% include nav.html %} {% include footer.html %}
        </body>
</html>
